/* RESET */
html {
    font-size: 16px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;

    /* PALETA DE COLORES */

    /* Coconut Cream */
    --color1-crema: rgb(247, 243, 207);
    /* Skeptic */
    --color2-verdeclaro: rgb(194, 228, 203);
    /* Turquesa */
    --color3-turquesa: rgb(54, 206, 204);
    /* Java */
    --color4-verdejava: rgb(39, 177, 191);
    /* Blumine */
    --color5-aguamarine: rgb(23, 101, 133);
    /* Burnt Umber  */
    --color6-marronclaro: rgb(135, 62, 35);
    /* Eternity */
    --color7-marronoscuro: rgb(33, 19, 13);
    /* Tacao */
    --color8-dorado: rgb(234, 182, 118);
    /* White Smoke */
    --color9-whitesmoke: rgb(245, 245, 245);
    /* Malibu */
    --color10-azulclaro: rgb(135, 206, 250);
    /* Dodger Blue */
    --color11-azul: rgb(30, 144, 255);
    /* Denim */
    --color12-azuloscuro: rgb(12, 110, 190);

}

/* ESTILOS DE ENCABEZADO */

header {

    background-color: white;
    width: 100%;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: var(--color10-azulclaro) 2px solid;

}

.encabezado {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand {
    background-color: white;
    color: var(--color4-verdejava);
    padding: 0 5px;
    margin: 0;
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    i {
        height: 4rem;
        color: #499db7;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    a {
        height: 4rem;
        width: 4rem;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 1.5rem;
    }

    .x-brand {
        color: #111;
    }
}

.menu {
    background-color: rgb(252, 252, 252);
    margin: 5px;
    padding: 15px 5px;
    height: 50%;
    display: flex;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li {
    padding: 0 16px;
    list-style: none;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color12-azuloscuro);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

header a:hover {
    color: var(--color4-verdejava);
    /*font-weight: bold;*/
}

.current {
    border-bottom: 1px solid var(--color12-azuloscuro);
    padding-bottom: 0.2rem;
    transition: all 0.5s ease-in-out;
}

.current:hover {
    border-bottom: 1px solid var(--color4-verdejava);
}

/* ESTILOS DE LA PORTADA */
#portada {
    width: 100%;
    background-color: lightcyan;
    background-image: url("../img/aviones/3-ventana.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

}

#portada-container {
    width: 80%;
    background-color: rgba(224, 255, 255, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    color: darkslategrey;
    border-radius: 1rem;


    h1 {
        color: teal;
        margin: 0;
    }

}

/* ESTILOS DE LAS CARDS CON FLEXBOX (PAQUETES) */

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.title-paquetes {
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;



}

.container-paquetes-grid {
    display: flex;
    flex-wrap: wrap;
    /*flex: repeat(2, minmax(20rem, 1fr));*/
    justify-content: space-evenly;
    margin: 2px 2%;
    padding: 2px 5%;
    gap: 2rem;
    border: 2px solid red;
    flex-grow: 2;
}

.paquetes-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 42%;
    min-width: 200px;
    border: 2px solid var(--color7-marronoscuro);
    border-radius: 10px;
    padding: 10px;
}

.img-paquete {
    width: 100%;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

/* ESTILOS DE LAS RESEÑAS */

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1-crema);
}

.reviews-container h2 {
    color: var(--color12-azuloscuro);
    background-color: var(--color2-verdeclaro);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 0;
    width: 100%;
}

.reviews-frame {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1%;
    padding: 1rem 1%;
    gap: 1rem;
    border-radius: 8px;
    background-color: var(--color10-azulclaro);
}

.review-card {
    background-color: rgba(245, 245, 245, 0.5);
    border: 2px solid var(--color8-dorado);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    /*max-width: 1200px;
    width: 100%;*/
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer {
    font-weight: bold;
    color: var(--color7-marronoscuro);
}

.comment {
    font-style: italic;
    color: var(--color5-aguamarine);
    font-size: 0.8rem;

}

/* BOTON ARRIBA / BUTTON UP (DESKTOP)*/

.btn-up {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: var(--color5-aguamarine);
    box-shadow: 6px 6px 16px rgba(23, 101, 133, 0.5);
    color: var(--color9-whitesmoke);
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.6rem;
    position: fixed;
    bottom: 4rem;
    right: 2.5rem;
    cursor: pointer;
    transform: scale(0);
    /* transition: all .5s ease-in-out; */
    transition: transform 0.3s ease;
}

.btn-up:hover {
    background-color: var(--color8-dorado);
    color: var(--color1-crema);
}

/* PIE DE PAGINA */

footer {
    background-color: var(--color2-verdeclaro);
}